@import "../../global.scss";

.dashboard{
    width: 92%;
    margin: 0 auto;
}

.user {
  .userContainer {
    width: 100%;

    .widgets
     {
      display: flex; 
      gap: 20px;
    }

  

    .listContainer {
       background-color: $bgColor;
      margin: 20px 0;
      border: 1px solid rgba(33, 63, 125, 0.06);
      box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
      
       
    }
  }
}
@media only screen and (max-width: 768px){
    .widgets{
      display: flex;
      flex-direction: column;
    }
    .listContainer{
     
    }
}