@import "../../global";

.error-container{
    width: 100%;
    height: 100vh;

    .error-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
         height: 100%;
         text-align: center;
       
         .error-content{
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 3rem;
              flex-direction: column;
             span{
                 color: rgb(235, 36, 36);
                 font-size: 8rem;
                 text-shadow: 1px 5px 0  rgb(209, 0, 0);
                 display: inline-block;
                }
                a{
                    
                 
                 @include btn
             }
         }
    }

}